<html>
<body style="font-family: Arial, sans-serif; line-height: 1.6;">

  <h2 style="text-align:center;">RELIEVING LETTER</h2>

  <p>Date: <b>{{issue_date}}</b></p>

  <p>To,<br>
  <b>{{name}}</b><br>
  {{address}}</p>

  <p>Dear <b>{{name}}</b>,</p>

  <p>This is to certify that <b>{{name}}</b> was employed with <b>{{company_name}}</b> as <b>{{designation}}</b>. Based on their resignation letter dated <b>{{resignation_date}}</b>, they have been formally relieved from their duties with effect from <b>{{effective_to}}</b>.</p>

  <p>During their tenure with the organization, they discharged their responsibilities to the best of their abilities.</p>

  <p>This letter is being issued upon their request and after completion of all exit formalities and clearance of dues.</p>

  <p>We wish them success in all their future endeavors.</p>

  <p>Regards,<br>
  <b>HR Department</b><br>
  {{company_name}}</p>

</body>
</html>
